.aside-filter {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }
    &__tab {
        width: 50%;
        font-family: 'SFProDisplay-Regular', 'Arial', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: $light-text;
        &.tab--active {
            color: $basic-text;
            font-family: 'SFProDisplay-Bold', 'Arial', sans-serif;
            font-weight: 700;
            span {
                display: inline-block;
                padding-bottom: 7px;
                border-bottom: 2px solid $basic-blue;
            }
        }
    }
    &__item-drop {
        margin: 40px 0;
    }
    &__item-title {
        padding-left: 26px;
        font-family: 'SFProDisplay-Semibold', 'Arial', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    &__content {
        display: flex;
        &-box {
            width: 50%;
        }
    }
    &__form {
        & label {
            font-size: 14px;
            line-height: 17px;
        }
    }
}
.filter__item-drop {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    &::before {
        position: absolute;
        content: "";
        background-image: url("../../img/arrow-down.svg");
        left: 0;
        bottom: 5px;
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
    }
    &--active {
        &::before {
            transform: rotate(180deg);
        }
    }
}