.aside-filter {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }
    &__tab {
        width: 50%;
        font-family: 'SFProDisplay-Regular', 'Arial', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: $light-text;
        &.tab--active {
            color: $basic-text;
            font-family: 'SFProDisplay-Bold', 'Arial', sans-serif;
            font-weight: 700;
            span {
                display: inline-block;
                padding-bottom: 7px;
                border-bottom: 2px solid $basic-blue;
            }
        }
    }
    &__item-drop {
        margin: 40px 0;
    }
    &__item-btn {
        text-align: center;
    }
    &__item-title {
        padding-left: 26px;
        font-family: 'SFProDisplay-Semibold', 'Arial', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        &-box {
            width: 50%;
            margin-bottom: 10px;
        }
    }
    &__form {
        & label {
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__item-list {
        margin: 46px 0 40px;
    }
}
.filter {
    &__item-list {
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        border-bottom: 2px solid #cdcdcd;
        &-title {
            padding-bottom: 14px;
            padding-left: 26px;
            font-family: 'SFProDisplay-Semibold', 'Arial', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
        &-select {
            font-family: 'Barlow-Regular', 'Arial', sans-serif;
            font-size: 14px;
            line-height: 17px;
            color: $medium-text;
        }
    }
    &-more {
        width: 100%;
        &__btn {
            padding: 0;
            font-size: 14px;
            line-height: 17px;
            color: $basic-blue;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $basic-blue;
        }
    }
    &-search {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 20px;
        width: 100%;
        height: 30px;
        border: 1px solid $range;
        font-size: 12px;
        line-height: 14px;
        &::placeholder {
            color: $placeholder;
        }
    }
    &-btn__send {
        margin-bottom: 15px;
        padding: 16px 85px;
        text-transform: uppercase;
        background: $light;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.12em;
        color: $placeholder;
        border: none;
        cursor: pointer;
        &--active {
            background-color: $basic-blue;
            color: #fff;
        }
    }
    &__extra {
        position: relative;
        margin-bottom: 15px;
        display: inline-block;
        padding-right: 29px;
        font-size: 13px;
        line-height: 16px;
        &::after {
            position: absolute;
            content: "";
            top: 4px;
            right: 0;
            background-image: url("../../img/arrow-down.svg");
            width: 12px;
            height: 8px;
        }
        &-content {
            display: none;
            margin-bottom: 10px;
        }
        &.filter__item-drop--active::after {
            transform: rotate(180deg);
        }
    }
    &-btn__reset {
        display: inline-block;
        background-color: transparent;
        padding: 0;
        border: none;
        border-bottom: 1px solid $light-text;
        font-size: 13px;
        line-height: 16px;
        color: $light-text;
    }
}
.jq-selectbox {
    &__select {
        height: 20px;
        padding: 0 25px 0 10px;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        text-shadow: none;
        font-family: 'Barlow-Regular', 'Arial', sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: $medium-text;
        border: none;
        &:hover, &:active {
            background: transparent;
            box-shadow: none;
        }
    }
    &__trigger {
        background-image: url("../../img/arrow-down.svg");
        bottom: 5px;
        top: 6px;
        right: 9px;
        width: 12px;
        height: 8px;
        border-left: none;
        &-arrow {
            position: absolute;
            top: 14px;
            right: 12px;
            width: 0;
            height: 0;
            border: none;
        }
    }
    & li {
        color: rgba(0, 0, 0, 0.6);
        &.selected {
            background: rgba(107, 126, 172, 0.05);
            color: rgba(0, 0, 0, 0.6);
        }
        &:hover {
            background: rgba(107, 126, 172, 0.05);
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &__dropdown {
        border-radius: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &.focused .jq-selectbox__select {
        border: none;
    }
}
.filter__item-drop {
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: "";
        background-image: url("../../img/arrow-down.svg");
        left: 0;
        bottom: 5px;
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
    }
    &--active {
        &::before {
            transform: rotate(180deg);
        }
    }
}
.jq-checkbox, .jq-radio {
    margin-right: 8px;
    background: #fff;
    width: 14px;
    height: 14px;
    vertical-align: -1px;
    border: 1px solid $light-text;
    border-radius: 1px;
    box-shadow: none;
}
.jq-checkbox.checked, .jq-radio.checked {
    background: $basic-blue;
    border: none;
}
.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    background-image: url("../../img/checked.svg");
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
}
.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}
.aside-filter__content.aside-filter__content-radio {
    flex-wrap: nowrap;
}
//range
.irs--flat {
    width: 100%;
    margin-top: -15px;
    & .irs-from, & .irs-single, & .irs-to {
        display: none;
    }
    & .irs-max, & .irs-min {
        top: 55px;
        padding: 0;
        padding-left: 27px;
        color: $basic-text;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Barlow-Regular', 'Arial', sans-serif;
        text-decoration-line: underline;
        background-color: transparent;
        border-radius: 0;
        visibility: visible !important;
    }
    & .irs-line {
        top: 25px;
        height: 1px;
        background-color: $range;
        border-radius: 0px;
    }
    & .irs-bar {
        top: 25px;
        height: 3px;
        background-color: $basic-blue;
    }
    & .irs-handle {
        top: 22px;
        width: 8px;
        height: 8px;
        background-color: $basic-blue;
        border-radius: 50%;
        &>i:first-child, &.state_hover>i:first-child, &:hover>i:first-child {
            background-color: transparent;
        }
    }
}
.irs-from {
    display: none;
}
.irs-min::before, .irs-max::before {
    position: absolute;
    left: 0;
    font-size: 14px;
    line-height: 17px;
    color: $light-text;
    text-decoration: none;
}
.irs-min::before {
    content: "от";
}
.irs-max::before {
    content: "до";
}

.btn-checked {
    & .aside-filter__content {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    & .aside-filter__content-box {
        width: auto;
    }
    & .aside-filter__content-label {
        position: relative;
        height: 25px;
        width: 63px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        color: $light-text;
    }
    & .jq-checkbox {
        background-color: $light;
        height: 25px;
        width: 63px;
        border: none;
        &.checked {
            background-color: $basic-blue;
            & ~ .btn-checked__text {
                color: #fff;
            }
        }
    }
    & .jq-checkbox.checked .jq-checkbox__div {
        display: none;
    }
    &__text {
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translateX(-57%);
        z-index: 5;
    }
}