.aside__btn {
    display: none;
}
.catalog {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 26px;
        font-weight: bold;
        font-family: 'SFProDisplay-Bold', 'Arial', sans-serif;
        font-size: 30px;
        line-height: 36px;
        color: #2F3035;
    }
    &__filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        &-items {
            button {
                padding: 5px 22px;
                font-size: 14px;
                line-height: 17px;
                opacity: 0.7;
                background: #F0F0F4;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                + button {
                    margin-left: 8px;
                }
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            & button {
                margin: 0;
                padding: 0;
                background-color: transparent;
                border: none;
                cursor: pointer;
                + button {
                    margin-left: 10px;
                }
            }
        }
        &-button {
            outline: none;
            opacity: .3;
            &--active {
                opacity: 1;
            }
        }
    }
    &__inner {
        display: flex;
        &-aside {
            margin-right: 10px;
            min-width: 290px;
        }
        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
.select-item {
    margin-right: 34px;
    padding: 8px 10px 5px 20px;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid $range;
    & .jq-selectbox__select-text {
        width: auto !important;
    }
}
.catalog__inner .product-item__wrapper {
    margin-bottom: 30px;
}
.catalog__inner .product-item__img {
    max-width: 100%;
}