.footer {
    background-color: $light;
    &__top {
        padding-top: 43px;
        &-inner {
            display: flex;
            justify-content: space-between;
        }
        &-item {
            width: 200px;
            &.footer__top-newsletter {
                margin-right: 50px;
                width: 295px;
            }
            &.footer__top-social {
                width: 250px;
            }
        }
        &-title {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
        }
    }
    &-form {
        display: flex;
        justify-content: space-between;
        margin-top: 34px;
        &__input {
            padding: 0 12px;
            background-color: #fff;
            border: none;
            font-size: 14px;
            line-height: 17px;
            &::placeholder {
                color: $light-text;
            }
        }
        &__btn {
            padding: 10px 16px;
            text-transform: uppercase;
            border: none;
            background-color: $basic-blue;
            color: #fff;
            font-family: 'SFProDisplay-Bold', 'Arial', sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.12em;
        }
    }
    &-list {
        font-size: 14px;
        line-height: 22px;
        color: $basic-text;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        padding: 46px 0 22px;
        &-link {
            margin: 0 40px;
            font-size: 10px;
            line-height: 12px;
            color: $medium-text;
        }
    }
}
.social-list {
    display: flex;
    align-items: center;
    height: 100%;
}
.social-list__item + .social-list__item {
    margin-left: 30px;
}