.menu {
    &__item {
        display: inline-block;
        & + .menu__item {
            padding-left: 50px;
        }
    }
    &__link {
        font-weight: 700;
    }
    &-categories {
        min-height: 53px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $light;
        &__link {
            position: relative;
            padding: 17px 0 16px;
            transition: all .3s;
            font-weight: 400;
            &::before {
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                left: 0;
                right: 0;
                left: auto;
                bottom: -4px;
                background-color: $basic-blue;
                transition: all .3s;
            }
            &:hover {
                color: #000;
                &::before {
                    width: 100%;
                    right: 0;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    &__btn {
        display: none;
    }
    &__mobile-linewrapper {
        display: none;
    }
}
.header {
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 122px;
    }
    &__box {
        display: flex;
        align-items: center;
    }
    &__address {
        position: relative;
        padding-left: 30px;
        font-weight: 700;
        width: 265px;
        &::before {
            position: absolute;
            content: "";
            background-image: url("../../img/address-icon.svg");
            width: 30px;
            height: 30px;
            top: -17px;
            left: 0;
        }
    }
    &__bottom {
        margin-bottom: 80px;
    }
}
.menu-mobile {
    &__list {
        position: absolute;
        width: 243px;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        transform: translateX(-120%);
        transition: all .3s;
        z-index: 10;
        &--active {
            transform: translateX(0);
        }
    }
    &__item {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__link {
        display: block;
        padding-left: 53px;
        padding-top: 36px;
    }
    &__img {
        position: absolute;
        left: 11px;
        bottom: 0;
    }
}
.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &__item {
        padding-right: 10px;
    }
}
.basket {
    position: relative;
    &__num {
        position: absolute;
        font-weight: 500;
        font-family: 'SFProDisplay-Regular', 'Arial', sans-serif;
        font-size: 10px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        bottom: -3px;
        right: -13px;
        color: #fff;
        background-color: $basic-blue;
        border-radius: 50%;
        text-align: center;
    }
}