@media (max-width: 1300px) {
    .product {
        &__more {
            margin-top: 60px;
        }
    }
    .product-slider__slider-btn {
        display: none !important;
    }
}
@media (max-width: 1200px) {
    .banner-section {
        &__inner {
            justify-content: space-around;
        }
        &__slider {
            max-width: 600px;
            &-img {
                min-height: 380px;
                max-width: 600px;
            }
        }
    }
    .categories {
        &__inner {
            justify-content: space-around;
        }
    }
    .banner {
        &__link img {
            width: 100%;
        }
    }
    .catalog {
        &__inner {
            &-list {
                justify-content: space-around;
            }
        }
    }
}
@media (max-width: 1100px) {
    .menu {
        &__item {
            & + .menu__item {
                padding-left: 20px;
            }
        }
    }
    .header {
        &__address {
            margin-right: 20px;
            width: auto;
        }
    }
    .card {
        &__input-search {
            margin-right: 0;
        }
    }
}
@media (max-width: 968px) {
    .menu {
        &__list {
            display: none;
        }
        &__btn {
            display: block;
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &-line {
                margin: 8px 0;
                width: 34px;
                height: 3px;
                background: #2F3035;
                border-radius: 3px;
            }
        }
        &__mobile-linewrapper {
            display: block;
            font-family: 'SFProDisplay-Bold', 'Arial', sans-serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            background-color: $light;
            overflow-x: scroll;
        }
        &__mobile-line {
            padding: 14px 0 14px 15px;
            min-width: 450px;
        }
    }
    .header {
        &__bottom {
            display: none;
        }
    }
    .banner-section {
        &__inner {
            margin-top: 25px;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__slider {
            max-width: 100%;
            &-item {
                text-align: center;
            }
            &-img {
                max-width: 100%;
                margin-bottom: 25px;
            }
        }
    }
    .mobile-overflow {
        width: 1000px;
    }
    .tabs-wrapper,
    .breadcrumbs__inner,
    .catalog__filter-itemsinner {
        overflow-x: scroll;
    }
    .tabs-wrapper.tabs-wrapper--no-scroll {
        overflow: hidden;
    }
    .pagination {
        &-list {
            &__item {
                margin: 0;
                padding: 5px 10px;
            }
        }
    }
    .product-card {
        &__inner {
            flex-wrap: wrap;
        }
        &__tabs {
            display: none;
        }
        &__content {
            order: -1;
        }
        &__btn {
            &-mobile {
                display: block;
                margin-top: 40px;
            }
        }
        &__img {
            &-box {
                width: 100%;
            }
        }
    }
}
@media (max-width: 940px) {
    .footer {
        &__top {
            &-inner {
                flex-wrap: wrap;
                justify-content: space-around;
            }
            &-item {
                margin-bottom: 25px;
            }
        }
    }
    .catalog {
        &__filter {
            display: block;
            &-btn {
                margin-top: 30px;
            }
            &-btn button {
                display: none;
            }
        }
    }
    .card {
        &__top-line {
            label {
                display: block;
                width: 100%;
                margin-bottom: 25px;
                margin-left: 0;
            }
        }
        &__list {
            &-item {
                display: block;
                div {
                    margin-bottom: 15px;
                }
            }
            &-itemtitle {
                display: none;
            }
        }
    }
}
@media (max-width: 640px) {
    .header {
        &__address {
            display: none;
        }
    }
    .banner-section {
        & .container {
            padding: 0;
        }
        &__slider {
            &-img {
                min-height: 200px;
            }
        }
    }
    .search {
        &__content-form {
            position: relative;
        }
        &__content-btn {
            position: absolute;
            top: 13px;
            right: 8px;
            padding: 15px;
            font-size: 0;
            line-height: 0;
            background-image: url("../../img/search-icon.svg");
            width: 24px;
            height: 24px;
            background-color: transparent;
            background-repeat: no-repeat;
        }
        &__content-input {
            padding-right: 50px;
            height: 50px;
        }
    }
    .banner {
        &__link img {
            min-height: 90px;
            object-fit: cover;
        }
    }
    .catalog {
        &__inner {
            flex-wrap: wrap;
        }
    }
    .aside__btn {
        display: block;
        margin-bottom: 30px;
        padding: 15px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: #fff;
        background-color: $basic-blue;
    }
    .aside-filter {
        display: none;
    }
    .product-card {
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__buttons {
            a + a {
                margin-left: 10px;
            }
        }
        &__img {
            width: 100%;
        }
    }
}
@media (max-width: 540px) {
    .footer {
        &__top {
            &-inner {
                justify-content: start;
            }
            &-item {
                width: 100%;
                border-bottom: 2px solid #fff;
                &.footer__top-newsletter {
                    margin-right: auto;
                    margin-left: auto;
                    width: 290px;
                    text-align: center;
                }
                &.footer__top-social {
                    width: 100%;
                    border-bottom: none;
                }
            }
            &-itemdrop {
                margin-bottom: 0;
                border-top: 2px solid #fff;
            }
            &-title.footer__topdrop {
                padding: 15px 0;
                font-size: 14px;
                line-height: 18px;
                color: $light-text;
            }
        }
        &-list {
            display: none;
        }
        &__bottom {
            flex-direction: column;
            align-items: flex-start;
            &-link {
                margin: 12px 0;
            }
        }
    }
    .social-list {
        justify-content: center;
    }
    .footer__topdrop {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background-image: url("../../img/arrow-down.svg");
            top: 21px;
            right: 0;
            width: 12px;
            height: 8px;
        }
        &--active::after {
            transform: rotate(180deg);
        }
    }
}
@media (max-width: 440px) {
    .banner-section {
        &__slider {
            &-img {
                min-width: 320px;
                min-height: 164px;
            }
        }
    }
    .categories {
        &__item {
            padding: 20px 10px 16px;
        }
    }
}