@media (max-width: 1300px) {
    .product {
        &__more {
            margin-top: 60px;
        }
    }
}
@media (max-width: 1200px) {
    .banner-section {
        &__inner {
            justify-content: space-around;
        }
        &__slider {
            max-width: 600px;
            &-img {
                min-height: 380px;
                max-width: 600px;
            }
        }
    }
    .categories {
        &__inner {
            justify-content: space-around;
        }
    }
}
@media (max-width: 1100px) {
    .menu {
        &__item {
            & + .menu__item {
                padding-left: 20px;
            }
        }
    }
    .header {
        &__address {
            margin-right: 20px;
            width: auto;
        }
    }
}
@media (max-width: 968px) {
    .menu {
        &__list {
            display: none;
        }
        &__btn {
            display: block;
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &-line {
                margin: 8px 0;
                width: 34px;
                height: 3px;
                background: #2F3035;
                border-radius: 3px;
            }
        }
        &__mobile-linewrapper {
            display: block;
            font-family: 'SFProDisplay-Bold', 'Arial', sans-serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            background-color: $light;
            overflow-x: scroll;
        }
        &__mobile-line {
            padding: 14px 0 14px 15px;
            min-width: 450px;
        }
    }
    .header {
        &__bottom {
            display: none;
        }
    }
    .banner-section {
        &__inner {
            margin-top: 25px;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__slider {
            max-width: 100%;
            &-item {
                text-align: center;
            }
            &-img {
                max-width: 100%;
                margin-bottom: 25px;
            }
        }
    }
    .mobile-overflow {
        width: 1000px;
    }
    .tabs-wrapper {
        overflow-x: scroll;
    }
}
@media (max-width: 640px) {
    .header {
        &__address {
            display: none;
        }
    }
    .banner-section {
        & .container {
            padding: 0;
        }
        &__slider {
            &-img {
                min-height: 200px;
            }
        }
    }
    .search {
        &__content-form {
            position: relative;
        }
        &__content-btn {
            position: absolute;
            top: 13px;
            right: 8px;
            padding: 15px;
            font-size: 0;
            line-height: 0;
            background-image: url("../../img/search-icon.svg");
            width: 24px;
            height: 24px;
            background-color: transparent;
            background-repeat: no-repeat;
        }
        &__content-input {
            padding-right: 50px;
            height: 50px;
        }
    }
}
@media (max-width: 440px) {
    .banner-section {
        &__slider {
            &-img {
                min-width: 320px;
                min-height: 164px;
            }
        }
    }
    .categories {
        &__item {
            padding: 20px 10px 16px;
        }
    }
}