html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'SFProDisplay-Regular', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $basic-text;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
// font-family: 'SFProDisplay', 'Arial', sans-serif;
// font-family: "Barlow", "Arial", sans-serif;
// font-family: "Staatliches", "Arial", sans-serif;
